<!DOCTYPE html>
<html>
  <head>
    <title>New York Times Best Seller</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New York Times Best Seller</h1>
    <p>This page gets the this week's best seller in hardcover fiction from New York Times</p>
    <p>Top 3</p>
    <ul>
      <% for (let i = 0; i < 3; i++) { %>
        <li><%= result[i]['title']%></li>
      <% }%>
    </ul>
  </body>
</html>
